In [1]:
dummyTxt = "Hi!"
print(dummyTxt)

import pandas as pd
from pytrends.request import TrendReq

Hi!

In [2]:
pytrend = TrendReq()

kw_list = ['Sony mirrorless', 'Canon mirrorless', 'Nikon mirrorless']
pytrend.build_payload(kw_list)
df = pytrend.get_historical_interest(kw_list, year_start=2016, month_start=2, day_start=1, hour_start=0, year_end=2016, month_end=4, day_end=1, hour_end=0, cat=0, geo='', gprop='', sleep=30)

In [4]:
df.head(10)

,Sony mirrorless,Canon mirrorless,Nikon mirrorless,isPartial
date,,,,
2016-02-01 00:00:00,53,34,20,False
2016-02-01 01:00:00,73,32,22,False
2016-02-01 02:00:00,71,34,24,False
2016-02-01 03:00:00,73,52,37,False
2016-02-01 04:00:00,92,43,29,False
2016-02-01 05:00:00,73,35,23,False
2016-02-01 06:00:00,63,37,22,False
2016-02-01 07:00:00,53,26,19,False
2016-02-01 08:00:00,41,28,21,False
2016-02-01 09:00:00,39,27,21,False