In [1]:
import pandas as pd
import unidecode

In [2]:
df = pd.read_csv('./data/ref/countries_info.csv')

In [3]:
for col in df.convert_dtypes().select_dtypes(include=['string']).columns:
    df[col] = df[col].fillna('N/A').apply(lambda x: unidecode.unidecode(x))

In [4]:
df_group = df.loc[df['region']!='N/A', ['name', 'region']]

In [5]:
df_group

                  name   region
0          Afghanistan     Asia
1        Aland Islands   Europe
2              Albania   Europe
3              Algeria   Africa
4       American Samoa  Oceania
..                 ...      ...
244  Wallis and Futuna  Oceania
245     Western Sahara   Africa
246              Yemen     Asia
247             Zambia   Africa
248           Zimbabwe   Africa

[248 rows x 2 columns]

In [ ]:
df_group.to_pickle('./data/ref/parsed-country-region.pkl')