In [1]:
import pandas as pd
#import csv
import unidecode

In [2]:
df = pd.read_csv('./data/ref/countries_info.csv')

In [3]:
for col in df.convert_dtypes().select_dtypes(include=['string']).columns:
    df[col] = df[col].fillna('N/A').apply(lambda x: unidecode.unidecode(x))

In [4]:
df_group = df.loc[df['region']!='N/A', ['name', 'region']]

In [11]:
df_group

                  name   region
0          Afghanistan     Asia
1        Aland Islands   Europe
2              Albania   Europe
3              Algeria   Africa
4       American Samoa  Oceania
..                 ...      ...
244  Wallis and Futuna  Oceania
245     Western Sahara   Africa
246              Yemen     Asia
247             Zambia   Africa
248           Zimbabwe   Africa

[248 rows x 2 columns]

In [5]:
df_group.to_pickle('./data/ref/parsed-country-region.pkl')

In [6]:
df[df['region']=='N/A']

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
8,Antarctica,AQ,ATA,10,ISO 3166-2:AQ,N/A,N/A,N/A,NaN,NaN,NaN

In [7]:
#with open('./data/ref/countries_info.csv', newline='') as csvfile:
#    country_ref = list(csv.reader(csvfile))

# print(type(country_ref[0][0]))
# print(country_ref[2])

#print(country_ref[2][0])

#for i in range(0, len(country_ref)):
#    for j in range(0, len(country_ref[0])):
#        country_ref[i][j] = unidecode.unidecode(country_ref[i][j])

#print(country_ref[2][0])
#print(country_ref[1])