In [1]:
import pandas as pd
import csv
from pytrends.request import TrendReq

In [7]:
pytrend = TrendReq()

In [3]:
with open('geoInfo.csv') as csv_file:
    reader = csv.reader(csv_file)
    geo_dict = dict(reader)

In [4]:
Americas = eval(geo_dict['Americas'])
EMEA = eval(geo_dict['EMEA'])
APAC = eval(geo_dict['APAC'])

In [16]:
kw_list = ['Sony DSLR', 'Canon DSLR', 'Nikon DSLR']
pytrend.build_payload(kw_list, timeframe='2020-01-01 2020-03-31', geo='CA, US')

ResponseError: The request failed: Google returned a response with code 400.

In [33]:

# Interest by Region
#df = pytrends.interest_by_region()
df = pytrend.get_historical_interest(kw_list, year_start=2006, month_start=1, day_start=1, hour_start=0, \
                                      year_end=2020, month_end=4, day_end=1, hour_end=0, \
                                      cat=0, geo='', gprop='', sleep=30)
df.head(10)

HTTPSConnectionPool(host='trends.google.com', port=443): Read timed out. (read timeout=5)
HTTPSConnectionPool(host='trends.google.com', port=443): Read timed out. (read timeout=5)

                     Sony camera  Canon camera  Nikon camera  isPartial
date
2016-02-01 00:00:00           56            83            54      False
2016-02-01 01:00:00           60            92            61      False
2016-02-01 02:00:00           67            93            63      False
2016-02-01 03:00:00           71            96            57      False
2016-02-01 04:00:00           68            96            61      False
2016-02-01 05:00:00           75            85            55      False
2016-02-01 06:00:00           66            88            58      False
2016-02-01 07:00:00           64            66            45      False
2016-02-01 08:00:00           58            66            44      False
2016-02-01 09:00:00           57            65            41      False

In [36]:
df.describe()

       Sony camera  Canon camera  Nikon camera
count  1111.000000   1111.000000   1111.000000
mean     59.259226     69.600360     46.878488
std      10.070801     13.450227      8.835157
min       0.000000      0.000000      0.000000
25%      54.000000     62.000000     42.000000
50%      59.000000     68.000000     46.000000
75%      65.000000     77.000000     52.000000
max      91.000000    100.000000     81.000000

In [34]:
df.shape

(1111, 4)

In [35]:
df.tail()

                     Sony camera  Canon camera  Nikon camera  isPartial
date
2016-03-31 20:00:00           46            54            37      False
2016-03-31 21:00:00           47            57            41      False
2016-03-31 22:00:00           45            61            44      False
2016-03-31 23:00:00           47            62            41      False
2016-04-01 00:00:00           47            66            44      False